body {
  background-color: aliceblue;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #333;
}

.text-style {
  font-family: "Arial", sans-serif;
}

.list-header {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.header {
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 100%;
}

.header-title h1 {
  font-size: 24px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  color: #333;
  text-align: center;
}

.appointment-main-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.appointment-cards {
  padding: 20px;
  margin: 0;
  text-align: left;
  list-style: none;
}

.appointment-cards h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

.appointment-cards h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}

.appointment-cards li {
  font-size: 16px;
  margin-bottom: 10px;
}


.doctor-card {
  padding: 10px;
  height: 100%;
}

.doctor-card-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.doctor-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.doctor-speciality {
  font-size: 18px;
  margin-bottom: 10px;
}

.doctor-room,
.doctor-rate,
.doctor-notes {
  font-size: 14px;
  margin-bottom: 5px;
}

.main-doc-container {
  padding-top: 50px;
  padding-bottom: 50px;

}

.edit-form {
  padding: 5px;
  margin: 0;
  list-style: none;
 
}

.signup-form {
  padding: 5px;
  margin: 0;
  list-style: none;
 
}


.appointment-add-inputs input,
.appointment-add-inputs select {
  margin-bottom: 10px;
}


.username-title{
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.nav-container {
  display: flex;
  align-items: center;
}


.quote {
  padding-left: 10px; 
  font-style: italic; 
  margin: 20px 0; 
}

.user-name {
  margin-right: auto;
}

.nav-links {
  padding: 15px;
}

.nav-links > * {
  margin: 0 10px;
}

/* final */





